.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}

.code, .message {
    display: flex;
    justify-self: center;
    font-size: var(--font-triple);
    color: var(--primary);
}

.homeButton {
    display: inline-flex;
    width: 15rem;
    height: 4rem;
    font-size: var(--font-double);
    font-weight: 500;
    padding: 0.8rem 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: var(--border-radius-standard);
    border: 3px solid var(--primary);
    background-color: inherit;
    margin-top: 2rem;
}

.homeButton:hover {
    background-color: var(--primary);
    cursor: pointer;
}