.mainPage {
    margin-top: 9rem;
}

.content {
    margin: 3rem;
    display: flex;
    min-height: 100vh;
    gap: 2rem;
}


.leftSide {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    gap: 2rem;
    flex: 60;
    max-width: 800px;
}

.rightSide {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    flex: 40;
}


.previewContainer {
    max-width: 33rem;
    min-width: 25rem;
    width: 75%;
    border: 2px solid var(--text-color-dark);
    aspect-ratio: 5/3;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.listItem {
    display: inline flex;
    flex-flow: row nowrap;
    gap: 1rem;
    border: 1px solid var(--light-background);
    margin: 1rem;
    padding: 2rem;
    justify-content: space-between;
    border-radius: 1rem;
}

.listItemInside {
    display: inline flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: space-between;
    min-height: 16rem;
    border-radius: 1rem;
}

.componentName {
    font-size: var(--double-font);
}

.listItem > p {
    font-size: var(--big-font);
}

.tagBackground {
    display: flex;
    gap: 0.5rem;
}

.tag {
    padding: 2px 6px 2px 6px;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    font-size: var(--big-font);
    border: none;
    margin: 4px;
}

.tagButton:hover {
    cursor: pointer;
}

.componentPreview {
    align-self: center;
}

.codeContainer {
    display: none;
    width: clamp(25rem, 95%, 50rem);
    min-height: 4.375rem;
    padding: 0.625rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0 1.4375rem 0 0;
    background: var(--light-background) !important;
    resize: none;
    border: none;
    overflow: scroll;
}

.active {
    display: block;
}

.changeCodeButtons {
    display: inline flex;
}

.changeCode {
    display: inline flex;
    background-color: var(--background);
    height: 2.375rem;
    width: 4rem;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem 0.3125rem 0 0;
    border: 3px solid var(--light-background);
}

.changeCode.active {
    background-color: var(--light-background);
}

.changeCode:hover {
    cursor: pointer;
}

.refreshButton {
    display: flex;
    margin: 3rem;
    padding: 0.5rem 1.2rem;
    background-color: var(--background);
    border: var(--accent-green) 2px solid;
    border-radius: 1rem;
    font-weight: 600;
    font-size: var(--big-font);
}

.refreshButton:hover {
    cursor: pointer;
    background-color: var(--accent-green);
    color: black;
}

.paragraph {
    font-size: var(--big-font);
}

.avatar {
    height: 50px;
    display: inline;
}

.inline {
    display: inline;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input {
    background-color: var(--light-background);
    width: 15rem;
    border-radius: 0.3rem;
    border: none;
    font-size: var(--big-font);
    font-weight: 300;
    padding: 0.2rem;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 33rem;
    width: 75%;
    align-items: center;
}

.field {
    display: flex;
    flex-flow: column nowrap;
}

.datalist {
    height: 0;
}

.error {
    height: 1rem
}

.selectedTags {
    display: flex;
    max-width: 60%;
    flex-flow: row wrap;
}

.autoResize {
    /*min-height: 40vh;*/
    field-sizing: content;
    font-size: var(--big-font);
}

.submitButton {
    align-self: center;
    margin: 3rem;
    width: 7.5em;
    height: 2em;
    font-size: var(--double-font);
    font-weight: 500;
    padding: 0.8rem 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.8125rem;
    border: 3px solid var(--primary);
    background-color: inherit;
}

.submitButton:hover {
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
}

.popup.active {
    display: flex;
}

.popup {
    display: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-top: -140px;
    margin-left: -125px;
    overflow: auto;
}

.popupContent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--light-background);
    border: 1px solid var(--primary);
    width: 250px;
    height: 285px;
    border-radius: 0.8125rem;
}

.popupContent > h2 {
    font-size: var(--big-font);
    font-weight: 500;
}

.popupContent > input {
    font-size: var(--regular-font);
    font-weight: 400;
    padding: 0.3rem 0.3rem;
    border-radius: 0.6rem;
    border: 2px solid var(--primary);
    background-color: inherit;
}

.popupContent > button {
    display: inline-flex;
    width: 7.5em;
    height: 2em;
    font-size: var(--big-font);
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    border: 2px solid var(--primary);
    background-color: inherit;
}

.popupContent > button:hover {
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.interactionButton {
    background-color: var(--background);
    display: inline-flex;
    padding: 0.375rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 1px dashed var(--primary);
    border-radius: 0.4375rem;
    cursor: pointer;
}

.interactionButton:hover {
    background-color: var(--primary-transparent);
}

.interactionButton > img {
    height: 2.8125rem;
    width: 3rem;
}

.interactionButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    align-self: center;
}

.interactionButtonsContainerList {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 950px) {
    .content {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .leftSide, .rightSide {
        flex: none;
        align-items: center;
    }

    .previewContainer {
        width: 90vw;
        min-width: unset;
    }

    .rightSide {
        width: 90vw;
    }

    .codeContainer {
        min-width: unset;
        width: 90%;
        justify-self: center;
    }

}