.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formDiv {
    max-height: 33.75rem;
    width: 19rem;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #fff;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 100%;
}

form > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.inputDiv {
    margin-top: 1.5rem;
}

.inputLabel {
    padding: 0;
    color: #fff;
    font-size: var(--small-font);
    font-weight: 300;
    align-self: flex-start;
    margin: 0 0 0 0.625rem;
}

.validationError {
    color: var(--accent-orange);
}

.input {
    display: flex;
    width: 13.5rem;
    height: 2rem;
    padding: 0.625rem;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #fff;
    background-color: inherit;
}

.submitButton {
    display: inline-flex;
    width: 7.5em;
    height: 2em;
    font-size: var(--double-font);
    font-weight: 500;
    padding: 0.9375rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.8125rem;
    border: 3px solid var(--primary);
    background-color: inherit;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.submitButton:hover {
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
}

.errorMessagePlaceholder {
    height: 21px;
}

.link {
    color: var(--primary);
    text-decoration: underline;
    margin-bottom: 1rem;
}