.listItem {
    display: inline flex;
    flex-flow: column nowrap;
    gap: 1rem;
    border: 1px solid var(--light-background);
    margin: 1rem;
    padding: 2rem;
    min-height: 16rem;
    justify-content: space-between;
    border-radius: 1rem;
}

.componentName {
    font-size: var(--double-font);
}

.listItem > p {
    font-size: var(--big-font);
}

.tag {
    padding: 2px 6px 2px 6px;
    border-radius: 10px;
    color: black;
}

.componentPreview {
    align-self: center;
}