@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
    --background-darkmode: hsl(195, 6%, 13%);
    --background-gray: hsl(195, 6%, 22%);
    --primary: hsl(271, 12%, 46%);
    --primary-transparent: hsla(271, 12%, 46%, 0.5);
    --accent-green: hsla(144, 28%, 64%, 1);
    --accent-orange: hsla(29, 64%, 61%, 1);
    --text-color-darkmode: hsla(0, 0%, 100%, 1);
    --text-color-darkmode-secondary: hsla(0, 0%, 30%, 1);
    --font-label: 0.75rem;
    --font-regular: 1rem;
    --font-big: 1.2rem;
    --font-hover: 1.4rem;
    --font-double: 2rem;
    --font-triple: 3rem;
    --border-radius-standard: 0.625rem;
}

/* General */

* {
    margin: 0;
    padding: 0;
    color: var(--text-color-darkmode);
    font-family: "Geist", sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--background-darkmode);
    /*height: 200vh;*/
}

#root {
    min-height: 100dvh;
    width: 100%;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

.loadingText {
    font-size: var(--font-triple);
    justify-self: center;
    color:var(--primary);
}

::selection {
    background-color: var(--primary-transparent) !important;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--background-gray);
    border-radius: var(--border-radius-standard);
}

::-webkit-scrollbar-thumb {
    background: #a6a6a6;
    border-radius: var(--border-radius-standard);
}

::-webkit-scrollbar-thumb:hover {
    background: #969696;
}

::-webkit-scrollbar-corner {
    display: none;
}