@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
    --background: hsl(195, 6%, 13%);
    --light-background: hsl(195, 6%, 22%);
    --primary: hsl(271, 12%, 46%);
    --primary-transparent: hsla(271, 12%, 46%, 0.5);
    --accent-green: hsla(144, 28%, 64%, 1);
    --accent-orange: hsla(29, 64%, 61%, 1);
    --text-color: hsla(0, 0%, 100%, 1);
    --regular-font: 1rem;
    --small-font: 0.75rem;
    --big-font: 1.2rem;
    --double-font: 2rem;
    --triple-font: 3rem;
    --hover-font: 1.4rem;
}

/* General */

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: "Geist", sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--background);
    /*height: 200vh;*/
}

#root {
    min-height: 100dvh;
    width: 100%;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

.loadingText {
    font-size: var(--triple-font);
    justify-self: center;
    color:var(--primary);
}

::selection {
    background-color: var(--primary-transparent) !important;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--light-background);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a6a6a6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #969696;
}

::-webkit-scrollbar-corner {
    display: none;
}