@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
    --background: hsl(195, 6%, 13%);
    --light-background: hsl(195, 6%, 22%);
    --primary: hsl(271, 12%, 46%);
    --primary-transparent: hsla(0, 0%, 46%, 0.5);
    --accent-green: #89bd9e;
    --accent-orange: #db995a;
    --text-color: #ffffff;
    --text-color-dark: hsl(195, 6%, 42%);
    --regular-font: 1rem;
    --small-font: 0.75rem;
    --big-font: 1.2rem;
    --double-font: 2rem;
    --triple-font: 3rem;
    --hover-font: 1.4rem;
}

/* General */

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: "Geist", sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--background);
    /*height: 200vh;*/
}
